html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 46px;
    background-color: #000;
}

#header .menu {
    margin: 0;
    color: #fff;
}

#header .menu li {
    display: inline-block;
    list-style-type: none;
}

#header .menu li a {
    color: #fff;
    text-decoration: none;
}

