/*  giao diện PC */
@media (max-width: 1024px) {
    
}

/* giao diện tablet */
@media (min-width: 720px) and (max-width: 1024px) {

}

/* giao diện mobile */
@media (max-width: 723px) {
    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #header .menu-mobile {
        display: block;
    }

    #header .search-btn {
        display: none;
    }
}

