* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

#header {
    width: 100%;
    height: 46px;
    background-color: #000;
}

#nav li{
    display: inline-block;
}

#nav>li>a {
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    line-height: 46px;
}

#nav .subnav {
    display: none;
}






